# OpenWRT 源码配置
# 格式：[配置名称]
# source=源码仓库地址
# branch=分支名称
# description=描述信息

# Lede 源码
[lede]
source=https://github.com/coolsnowwolf/lede.git
branch=master
description=Lede源码

# 官方 OpenWrt 源码
[openwrt]
source=https://github.com/openwrt/openwrt.git
branch=main
description=官方OpenWrt源码

# ImmortalWrt 源码
[immortalwrt]
source=https://github.com/immortalwrt/immortalwrt.git
branch=master
description=ImmortalWrt源码